<section class="container-fluid text-secondary bg-dark">
	<div class="row">
		<div class="col-md-3 p-4">
			<ul class="nav flex-column d-flex  mx-md-auto">
				<li class="nav-item">
					<a href="#" class="nav-link unstyled-link">Home</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link unstyled-link">About Us</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link unstyled-link">Contact Us</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link unstyled-link">Privacy Policy</a>
				</li>
			</ul>
		</div>
		<div class="col-md-3 p-4">
			<ul class="nav flex-column d-flex  mx-auto">
				<li class="nav-item">
					<span class="nav-link">
						<i class="fas fa-map-marker-alt"></i> 15th Main Street,<br>Gandhipuram,<br>Coimbatore - 15
					</span>
				</li>
				<li class="nav-item">
					<span class="nav-link">
						<i class="fas fa-phone"></i> +91 76301 76301
					</span>
				</li>
				<li class="nav-item">
					<span class="nav-link">
						<i class="fas fa-envelope"></i> admin@hudsonsparklers.in
					</span>
				</li>
			</ul>
		</div>
		<div class="col-md-6 p-4 d-flex">
			<ul class="nav d-flex align-content-center mx-auto">
				<li class="nav-item mx-md-2">
					<a href="#" class="nav-link unstyled-link" aria-label="google_icon">
						<i class="fab fa-google fa-lg"></i>
					</a>
				</li>
				<li class="nav-item mx-md-2">
					<a href="#" class="nav-link unstyled-link" aria-label="facebook_icon">
						<i class="fab fa-facebook fa-lg"></i>
					</a>
				</li>
				<li class="nav-item mx-md-2">
					<a href="#" class="nav-link unstyled-link" aria-label="instagram_icon">
						<i class="fab fa-instagram fa-lg"></i>
					</a>
				</li>
				<li class="nav-item mx-md-2">
					<a href="#" class="nav-link unstyled-link" aria-label="youtube_icon">
						<i class="fab fa-youtube fa-lg"></i>
					</a>
				</li>
				<li class="nav-item mx-md-2">
					<a href="#" class="nav-link unstyled-link" aria-label="linkedin_icon">
						<i class="fab fa-linkedin fa-lg"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-12 text-center text-white bg-dark py-2">
			<span>Hudson Sparklers <i class="fas fa-copyright"></i> {% now 'Y' %}</span>
		</div>
	</div>
</section>