{% extends 'base.html' %}
{% load  crispy_forms_tags %}

{% block content %}

<section class="container-fluid">
	<div class="row my-4">
		<div class="col-md-6 mx-auto shadow color-slateblue p-4">
			<h2 class="text-center color-slateblue">Customer Signup</h2>
			<form class="form" method="POST" novalidate>
		{% csrf_token %}

		{{ form|crispy }}
		<input type="submit" name="submit" value="SignUp" class="btn btn-slateblue">
		<a href="{% url 'login' %}" class="clearfix mt-2 float-right">Already Have An Account?</a>
	</form>
		</div>
	</div>
</section>

{% endblock %}